/* header related style */
body {
  width: 100%;
  margin: 0;
}
.header {
  background: url(images/header-background.png);
  width: 100%;
  
}
.header-ul {
  display: flex;
  align-items: center;
  /* padding: 60px 30px 30px 800px; */
}
.header-link {
  color: azure;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  font-size: 26px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-img {
  flex: 1;
  padding: 56px 30px;
}
header h1 {
  font-size: 50px;
}
.header-text {
  flex: 2;
  padding: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
.all-name {
  font-weight: bold;
  font-family: sans-serif;
}
.header-item {
  display: flex;
  gap: 26px;
}
